<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

</head>
<style>
    .login{
        background-color:bisque;
    }
    .login_1{
        text-align: center;
        padding: 30px;
        margin: 100px 0;
    }

</style>
<body class = "login">
<div class = "login_1">
        <h2>Login</h2>
    <form action="/login" method = "POST">
        <div>
            <input type="text" placeholder="Enter user name" name = "user" />
        </div>
        <div>
            <input type="password" placeholder="Enter password" name = "password" />
        </div>
        
        <button type="submit">Login</button>


    </form>

</div>
</body>
</html>
